.pokemon-card {
    width: 150px;
    height: 200px;
    border: 1px solid #ccc;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    perspective: 1000px;
}

.pokemon-name {
    flex-grow: 1;
    display: flex;
    align-items: flex-end;
    padding: 10px;
    background-color: #f8f8f8;
    border-top: 1px solid #eee;
    color: #333;
}


.pokemon-image-container {
    flex-grow: 2;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pokemon-card-back img {
    width: 100%; /* Make the image responsive to the container's width */
    height: 100%; /* Make the image responsive to the container's height */
    object-fit: contain;
}

.pokemon-card-back {
    display: flex;
    align-items: flex-start; /* Align to the top */
    justify-content: center; /* Center horizontally if needed */
    /* Other styles */
}

